@use "../abstracts" as *;

footer {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	position: relative;
	height: min-content;
	padding-bottom: 1.75rem;
	background: transparent;
	z-index: 100;
}
