@use "../abstracts" as *;

header {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	padding: 4px 1rem;
	position: fixed;
	top: 0;
	left: 0;
	background: transparent;
	z-index: 100;
	transition: $base-transition;
	box-shadow: $base-shadow;
	backdrop-filter: blur(6px);
}
