@use "./container" as *;

.navbar {
	@extend .container;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	& ul {
		height: min-content;
		margin-left: 13.28vw;
	}
}
