@use "../abstracts" as *;
.btn {
    @include btn;
    @include btn-state;
}

.btn-round {
    @include btn-round;
    @include btn-state;
}

@each $name, $color in $base-colors {
    .btn-#{$name} {
        @include btn($color);
        @include btn-state($color);
    }

    .btn-outlined-#{$name} {
        @include btn(transparent);
        @include btn-state($color);
        border: $base-border solid $color;
    }
    .btn-round-#{$name} {
        @include btn-round($color);
        @include btn-state($color);
    }

    .btn-round-outlined-#{$name} {
        @include btn-round(transparent);
        @include btn-state($color);
        border: $base-border solid $color;
    }
}

.btn-order {
    width: fit-content;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    grid-area: button;
}

.btn-round-theme {
    @include btn-round(var(--theme-clr));
    @include btn-state(var(--theme-clr));
}

.btn-round-icon {
    display: grid;
    place-items: center;
    width: 40px;
}
