@use "./variables" as *;

$base-font-family: Poppins, "Helvetica Neue", Helvetica,
	Arial, sans-serif;
$base-font-weight: 400;
$base-font-style: normal;
$base-font-color: #333;
$base-font-size: 0.875rem;

$base-line-height: 1.5;
$base-letter-spacing: 0;
$base-text-align: left;

$font-sizes: (
	"xs": 0.735,
	"sm": 0.92857,
	"base": 1,
	"lg": 1.28571,
	"xl": 1.5,
	"xxl": 3.142857,
);

$heading-sizes: (
	"h1": 44px,
	"h2": 36px,
	"h3": 18px,
);
